{% load bootstrap3 %}
<!DOCTYPE html>
<html>
    <head>
        <title>HubDoc</title>
        {% bootstrap_css %}
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <b>HubDoc</b>.be
                &nbsp;&nbsp;&nbsp;
                <small>Compilation LaTeX à la vollée <em>as a service</em></small>
              </a>
            </div>
          </div>
        </nav>

        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% bootstrap_javascript jquery=1 %}
    </body>
</html>
